<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.study.boot.upms.mapper.SysLogMapper">
  <resultMap id="BaseResultMap" type="com.study.boot.upms.api.entity.SysLog">
    <!--@mbg.generated generated on Mon May 13 17:01:25 CST 2019.-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="type" jdbcType="CHAR" property="type" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="service_id" jdbcType="VARCHAR" property="serviceId" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="remote_addr" jdbcType="VARCHAR" property="remoteAddr" />
    <result column="user_agent" jdbcType="VARCHAR" property="userAgent" />
    <result column="request_uri" jdbcType="VARCHAR" property="requestUri" />
    <result column="method" jdbcType="VARCHAR" property="method" />
    <result column="params" jdbcType="VARCHAR" property="params" />
    <result column="time" jdbcType="BIGINT" property="time" />
    <result column="del_flag" jdbcType="CHAR" property="delFlag" />
    <result column="exception" jdbcType="VARCHAR" property="exception" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated generated on Mon May 13 17:01:25 CST 2019.-->
    id, `type`, title, service_id, create_by, create_time, update_time, remote_addr, 
    user_agent, request_uri, `method`, params, `time`, del_flag, `exception`
  </sql>
</mapper>