<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.study.boot.upms.mapper.SysOssMapper">
  <resultMap id="BaseResultMap" type="com.study.boot.upms.api.entity.SysOss">
    <!--@mbg.generated generated on Fri Jun 14 09:56:18 CST 2019.-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="fkey" jdbcType="VARCHAR" property="fkey" />
    <result column="file_size" jdbcType="BIGINT" property="fileSize" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="crate_by" jdbcType="VARCHAR" property="crateBy" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="delFlag" jdbcType="CHAR" property="delflag" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated generated on Fri Jun 14 09:56:18 CST 2019.-->
    id, `name`, fkey, `file_size`, `type`, crate_by, create_time, update_by, update_time,
    delFlag
  </sql>
</mapper>